<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
	<session-factory>
	    <!-- Database connection settings -->
	    <property name="connection.driver_class">org.h2.Driver</property>
	    <property name="connection.url">jdbc:h2:./test</property>
	    <property name="connection.username">sa</property>
	    <property name="connection.password"/>

	    <property name="hibernate.default_schema">PUBLIC</property>

	    <!-- JDBC connection pool (use the built-in) -->
	    <property name="connection.pool_size">1</property>

	    <!-- SQL dialect -->
	    <property name="dialect">org.hibernate.dialect.H2Dialect</property>

	    <!-- Disable the second-level cache  -->
	    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

	    <!-- Echo all executed SQL to stdout -->
	    <!-- <property name="show_sql">true</property> -->

	    <!-- Create schema if it doesn't exist, update otherwise -->
	    <property name="hbm2ddl.auto">update</property>

		<mapping class="cmutti.model.heroes.AHero"/>
		<mapping class="cmutti.model.heroes.Backpacker"/>
		<mapping class="cmutti.model.heroes.Healer"/>
		<mapping class="cmutti.model.heroes.KarateGirl"/>
		<mapping class="cmutti.model.heroes.KarateMan"/>

		<mapping class="cmutti.model.artifacts.AArtifact"/>

		<mapping class="cmutti.model.artifacts.armors.AArmor"/>
		<mapping class="cmutti.model.artifacts.armors.Belt"/>
		<mapping class="cmutti.model.artifacts.armors.BlackCap"/>
		<mapping class="cmutti.model.artifacts.armors.HawaianSkirt"/>

		<mapping class="cmutti.model.artifacts.helms.AHelm"/>
		<mapping class="cmutti.model.artifacts.helms.ChefHat"/>
		<mapping class="cmutti.model.artifacts.helms.CowboyHat"/>
		<mapping class="cmutti.model.artifacts.helms.Crown"/>
		<mapping class="cmutti.model.artifacts.helms.SantaHat"/>
		<mapping class="cmutti.model.artifacts.helms.StrawHat"/>
		<mapping class="cmutti.model.artifacts.helms.VikingHelm"/>

		<mapping class="cmutti.model.artifacts.weapons.AWeapon"/>
		<mapping class="cmutti.model.artifacts.weapons.FishingRope"/>
		<mapping class="cmutti.model.artifacts.weapons.Guitar"/>
		<mapping class="cmutti.model.artifacts.weapons.Pan"/>

	</session-factory>
</hibernate-configuration>
